.header {}

.nav {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    // opacity: 0.5;
    border-bottom: 1px solid #A1A1A1;
    ul {
        list-style: none;
        margin: 0;
    }
    li {
        float: right;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        padding: 39px 18px;
        box-sizing: border-box;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        &:hover,
        &:active {
            border-bottom: 2px solid #fff;
        }
    }
}

.header__burger {
    display: none;
}